.showtreesClass img{
   width: 58%;
   border-radius: 10%;
   height: 220px;
}  
.showtreesClass{
    border: 1px solid lightcyan;
    box-shadow: 40px 40px 220px lightgreen;
    background-color: #e2f8e26e;

}
.showtreesClass img:hover{
   
}
.pname{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: teal;
}